@import "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);


.home-section{
	background: #3f3b3a url("../images/fondoHome.jpg") center 0 no-repeat;
	padding-top: 3em; /*42px/14*/
}

.navbar-brand{
	font-size: 1.857142857142857em;
	color: #fed136;
}

.navbar-brand:hover{
	color: #fff;
}

.icon-bar{
	background-color: #fff;
}

.home-section h1{
	font: bold 5.357142857142857em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; /* 75/14 */
	color:#fff;
	margin-bottom: .8em; /*60/75*/
	margin-top: 0.5333333333333333em; /*40/75*/

}

.home-section h2{
	font: italic 2.857142857142857em "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif; /*40/14*/
	color: #fff;
	margin-top: 5em; /*200/40*/
}

.home-section ul{
	font: normal 1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  /*10/14*/
}

.home-section ul a{
	color: #fff;
}

.btn-yellow{
	background-color: #fed136;
	font: 600 1.285714285714286em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  /*18/14*/
	color:#fff;
	padding:  1.166666666666667em 2.805555555555556em; /*21/18 50.5/18*/
	border:none;
	margin-bottom: 8.888888888888889em; /* 160/18 */

}

.section-heading{
	font:bold 2.857142857142857em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  /*40/14*/ 
	color:#222;
	margin-top: 2.9em; /*  116/18*/
	margin-bottom: 0.4em; /*16/40*/

}

p.subheading{
	font: italic 1.142857142857143em "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;   /*16/14*/
	margin-bottom: 4.6875em; /* 75/16*/
}

h4{
	font: bold 1.285714285714286em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  /*18/14*/ 
	padding-top: 1.111111111111111em; /*20/18*/
	margin-bottom: 0.8333333333333333em; /*15/18*/
	margin-top:0;
}

.services-item{
	margin-bottom: 2.857142857142857em; /*30/14*/ 
}

.item-info p{
	font: normal 1em 'Roboto Slab', serif;
	color:#777777;
}

.services-section{
	margin-bottom: 5.714285714285714em; /*80/14*/
}

.portfolio-section{
	background-color: #f7f7f7;
	padding-bottom: 5em;  /*70/14*/
}

.img-responsive{
	margin:0 auto;
}

.portfolio-item p{
	font: italic 1em "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif; 
	color:#737373;
	padding-bottom: 1.857142857142857em; /*26/*14*/
	margin-bottom: 3.571428571428571em; /*50/14*/
}

.portfolio-item h4{
	margin-bottom: 0.3333333333333333em; /*6/18*/
}

.portfolio-section .item-info{
	background-color: #ffffff;
}


.aboutus-item h4{
	padding-top: 0;
	margin-bottom: 0.5555555555555556em; /*18/18*/
}

.no-padding-left{
	padding-left: 0;
}

.padding{
	padding-right: 2em; /* 36/18*/
}

.yellow-circle{
	width: 11em; /*154/14*/
	height:11em; /*154/14*/
	margin: 0 auto; 
	background-color: #fed136;
	border-radius: 50%;
	padding-top: 2em; /*28/14*/
	margin-bottom: 500px;
}

.yellow-circle a{
	color: #fff;
	text-decoration: none;

}

.aboutus-item .img-circle{
	padding: 0.5em; /*7/14*/
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1; 
}

/*borde gris del cuadro amarillo*/
.gray-border{   
	width: 12em; /*168/14*/
	height: 12em; /*168/14*/
	background-color: #f1f1f1;
	border-radius: 50%;
	margin: 0 auto; 
	padding-top: 7px;
}

/*lineas verticales entre imagenes de about us*/
.vertical-line{
	height: 6.642857142857143em;
	background-color:#f1f1f1; 
	width: 0.2857142857142857em; /*4/14*/
}

.aboutus-item p{
	margin-bottom: 0;
}

.about-us-section{
	padding-bottom: 8.428571428571429em;  /*118/14*/
}

.team-section{
	background-color: #f9f9f9;
}

.social-item{
	padding-bottom: 1.785714285714286em; /*25/14*/
}

.team-item{
	margin-top: 0.7142857142857143em; /*10/14*/
}

.team-item h4{
	margin-bottom: 0.4285714285714286em; /*4/14*/
}

.team-item .img-responsive{
	max-width: 88%;
}

.mycf:before, .mycf:after { 
  content: "";
  display: table
}

.mycf:after {
  clear: both
}

.social-item .social-sprite {
  background: url('../images/socialSprite.png') 0 0 no-repeat
}

.social-item .social-sprite:hover{
	background: url('../images/socialHoverSprite.png') 0 0 no-repeat;
}

.social-item .ir {
  display: block;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 100%;
}

.social-item .ir:hover{
	background-size: 100%;
}

.social-item{
	width: 18.785714em;
	margin: 0 auto;
}

.social-item ul {
 width: 88%;
 margin: 12px auto 0;
}

.social-item ul.uku{
	width: 73%;
}

.social-item li.uku{
	width: 95px;
}

.social-item li {
  float: left;
  margin-left: 10px
}

.social-item li:first-child {
  margin-left: 0
}

.social-item a {
  width: 45px;
  line-height: 48px;
}

/* posiciones de cada uno de los iconos en el sprite */
.social-item .twitter, .social-item .twitter:hover{
	background-position: 0px 1px;
}

.social-item .facebook, .social-item .facebook:hover{
	background-position: 0px -47px;
}

.social-item .pinterest,.social-item .pinterest:hover{
	background-position: 0px -96px;
}

.social-item .google, .social-item .google:hover{
	background-position: 0px -146px;
}

.team-item .font16{
	font-size: 1.142857142857143em; /*16/14*/
	margin-bottom: 7.3125em; /*117/14*/
}



.social-item .logos-sprite{
	  background: url('../images/logos/logosSprite.png') 0 0 no-repeat;
}

.social-logo{
	width: 100%;
}

.social-logo .ir{
  background-size: 94%;
}

.social-logo li{
	margin-left: 0;
	margin-bottom: 1.785714285714286em; /*25/14*/
}
/*revisar si quitar este margin 0*/

.social-logo ul.mycf{
	width:673px; 
	padding: 0;
}

.social-logo a{
	width: 168px;
	line-height: 43px;
}

/* posiciones de cada uno de los iconos en el sprite */
.social-logo .envato{
	background-position: 0px 0px;
}

.social-logo .wordpress{
	background-position: 0px -45px;
}

.social-logo .tuts{
	background-position: 0px -90px;
}

.social-logo .microlancer{
	background-position: 0px -133px;
}

.logos-section{
	margin-top: 4.285714285714286em; /* 60/14*/
}

.contact-section {
	background: #222 url('../images/map-image.png') center no-repeat;
}

.contact-section h3{
	color:#fff;
}

.contact-section p.subheading{
	color:#a1a0a0;
}

.contact-section .form-group {
	margin-bottom: 1.78571429em;/* 25/14 */

}

.contact-section input, .contact-section textarea {
	padding: 1.42857143em; /* 20/14 */
	font: bold 1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	color:#bbb;
}

textarea{
	resize:none;
}

.contact-section input{
	height: auto;
}

.contact-section textarea {
	height: 16.42857142857143em;/* 230/14 */
}

.contact-section .btn-lg{
	border-radius: 3px;
	background-color: #fed136;
	border-color: #fed136;
	color:#ffffff;
	font:bold 1.285714285714286em 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	 padding: 1.11111111em 2.22222222em;/* 20/18 40/18 */
}

.contact-section .btn-lg:hover {
	background-color: #e8b70d;
    border-color: #e8b70d;
}

.contact-section{
	padding-bottom: 8.214285714285714em; /*115/14*/
}

.social-item .footer-sprite{
	background: url('../images/footerSprite.png') 0 0 no-repeat;
}

.social-item .footer-sprite:hover{
	background: url('../images/socialHoverSprite.png') 0 0 no-repeat;
}

.social-item .footer-sprite:hover{
	background-size: 100%;
}

.footer-logo .twitter, .footer-logo .twitter:hover{
	background-position: 0px 1px;
}

.footer-logo .facebook, .footer-logo .facebook:hover{
	background-position: 0px -48px;
}

.footer-logo .pinterest, .footer-logo .pinterest:hover{
	background-position: 0px -96px;
}

.footer-logo .google, .footer-logo .google:hover{
	background-position: 0px -146px;
}

.footer-section .social-item{
	width: 21.785714em;
}

.footer-logo .ir{
	background-size: 100%;
}

.footer-logo ul{
	width: 100%;
	margin: 0 auto;
	margin-top: 1.428571428571429em; /*20/14*/
}

.footer-section p{
	margin-top: 2.5em; /* 35/14*/
	margin-bottom: 3.214285714285714em; /*45/14*/
	font: normal 1em 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#555;
}






/*--------------------------MEDIA QUERY------------------------------------*/


@media (max-width: 768px){
	.portfolio-item .item-info{
		width: 65%;
		margin:0 auto;
		background-color: #f7f7f7;
		} 

	.portfolio-item img{
		max-width: 68%;
	}

	.aboutus-item img{
		max-width: 112%;
	}

	.social-logo ul.mycf{
		width:159px; 
		padding: 0;
		margin: 0 auto;
	}

	.home-section h1{
		font-size: 4.357143em;
	}

	.home-section h2{
		font-size: 2.142857142857143em;
	}


}


@media (max-width: 992px){
	.aboutus-item .text-center-sm{
		text-align: center;
	}

	.aboutus-item img{
	margin-bottom: 90px;
	}
}

@media (min-width: 768px){
	.social-item ul{
		padding: 0 5%;
	}

	.social-item ul.uku{
		padding: 0 9%;
	}
}

@media (min-width: 992px){
	.vertical-line{
		margin: 0 61%;
		height: 10em;
	}

	.social-item ul{
		padding: 0 14.316017%;
	}

		.social-item ul.uku{
		padding: 0 17%;
	}
}

@media (min-width: 1200px){
	.vertical-line{
		margin: 0 48%;
	}

	.portfolio-item .item-info{
		width: 80%; /*24.87179487179487%;*/
		margin:0 auto;
}







